[Desktop Entry]
Name=Catlock
Comment=Lock your computer against cat access
Exec=catlock
Icon=catlock
Categories=Utility
Terminal=false
Type=Application
StartupNotify=false
